<meta name=keywords content="Responsive, web design, extending, CSS, styling, techniques, rwd, technology, CSS reprocessor, JS-in-CSS, plugins, element queries, style scoping, xpath">
<meta name=description content="Responsive.Style is your guide to extending CSS with JavaScript, come discover new techniques and the plugins that make them easy to use.">

<link href="//fonts.googleapis.com/css?family=Cormorant+Garamond|Crimson+Text" rel=stylesheet>
<link href="//tomhodgins.github.io/responsive.style/src/style.css" rel=stylesheet>